doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/players/qb") Quarterbacks
    a(href="/players/rb") Running Backs
    a(href="/players/wr") Wide Receivers
    a(href="/players/te") Tight Ends
    block content